<div class="site-footer-content inner">
    <section class="">
        <div><a href="{{@site.url}}/privacy-policy/">Privacy Policy</a></div>
        <div><a href="{{@site.url}}/terms-and-conditions/">Terms and Conditions</a></div>
    </section>
    <section class="">
        <div><a href="{{@site.url}}/disclaimers/">Disclaimers</a></div>
        <div><a href="{{@site.url}}/cookie-policy/">Cookie Policy</a></div>
    </section>
    <section>
        <div><a href="{{@site.url}}/acceptable-use-policy/">Acceptable Use Policy</a></div>
    </section>
    <hr style="margin: 1.5em 0 0.5em;" />
</div>
